<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/components/flat-ui/dist/css/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/components/flat-ui/dist/css/flat-ui.min.css">
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body>
  <div class="main">
    <div class="row">
      <div class="col-md-12">

  <div class="left col-md-4">
    <div class="row">
        <ul>
          <li>书籍管理</li>
          <li>添加书籍</li>
        </ul>
    </div>
  </div>
